<form nz-form #Category="ngForm" class="form" *ngIf="this.permissionService.permissionState">
  <nz-form-item nz-row nzType="flex" nzJustify="center" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
      <nz-input-group>
        <input type="text" nz-input [(ngModel)]="permissionService.permissions.name" #name="ngModel" name="name" placeholder="Nombre" required/>
      </nz-input-group>
      <nz-form-explain *ngIf="(name.invalid && name.touched) && name.errors.required">El nombre es requerido</nz-form-explain>
    </div>
  </nz-form-item>
  <nz-form-item nz-row nzType="flex" nzJustify="end" nzAlign="middle">
    <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
    <button *ngIf="this.permissionService.permissions == ''" nz-button nzType="default" [nzLoading]="isConfirmLoading" (click)="add()" [disabled]="!Category.form.valid">Enviar</button>
    <button *ngIf="this.permissionService.permissions != ''" nz-button nzType="default" [nzLoading]="isConfirmLoading" (click)="change()" [disabled]="!Category.form.valid">Enviar</button>
  </nz-form-item>
</form>
<div *ngIf="!this.permissionService.permissionState">
  Cargando datos
</div>
